alias please=sudo
alias simon-sez=sudo
alias la="ls -lah"
alias ..l="cd .. && ls -lah"
alias findproccess="ps ax |grep -i"
alias stupidXcode="rm -rf ~/Library/Developer/Xcode/DerivedData"
alias apacheSites="cd /Applications/XAMPP/xamppfiles/htdocs/"
alias mp="md5 -qs"
alias duh="du -hc"

# Git
alias gc="git commit -am"
alias gl="git l"
alias gp="git push"
alias gl="git pull"
alias gs="git status -sb"

# Gem development
alias pod-dev='COCOA_PODS_ENV=development ~/Workspace/Playground/CocoaPods/bin/pod'
