# Common
alias ccat="pygmentize -g"
alias duh="du -hc"
alias findproccess="ps ax | grep -i"
alias la="ls -lah"
alias stupidXcode="rm -rf ~/Library/Developer/Xcode/DerivedData"
alias pod-dev="COCOA_PODS_ENV=development COCOA_PODS_DEPENDENCIES=local ~/code/OSS/CocoaPods/CocoaPods/bin/pod"

# Git
alias gp="git push --recurse-submodules=on-demand"
alias gl="git pull --rebase"
alias gs="git status -sb"
alias gd="git diff"
alias ga="git add"

# Bundler
alias be="bundle exec"
alias bi="bundle install"

# The most awesome Git commit you'll find ever.
# Usage:
# $ gc handle cli argumnents. Fixes #213
function gc() {
  git add .
  git commit -am "$*"
}

# Search through your code directories and quickly open project folder
# For example:
# $ wo sugar
# will take you to ~/code/OSS/ObjectiveSugar
#
# You can also execute `wo` standalone if you have `selecta` installed.
# You'll get a fuzzy finder popup so you can search interactively.
function wo() {
  code_dir=~/code
  if [ $1 ]; then
      cd "$(find $code_dir -type d -maxdepth 3 | grep -i $* | grep -v /Pods --max-count=1)"
  else
      if [ `which selecta` ]; then
          cd "$(find $code_dir -type d -maxdepth 3 | grep -v /Pods | selecta)"
      else
          echo "You need to install 'selecta' to get the fuzzy finder"
      fi
  fi
}


