!.gitignore

.DS_Store
.gem/
.htoprc
.netrc
.ssh

# rtv token and history
.config/rtv

# vim shit
*.swp
.netrwhist
Session.vim
.vim/*.spl
.vim/bundle/*

.gnupg/*
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf

# apps putting secrets in .config
.config/hub
.config/keybase

# syncthing
.stfolder
.stversions/

# logs
*.log

# Dash license / temp
Library/Application\ Support/Dash/*
!Library/Application\ Support/Dash/library.dash
