[alias]
    a = add --all
    b = branch
    bd = branch -d
    ba = branch -a
    commit = commit -v
    c = commit
    co = checkout
    conflicts = diff --name-only --diff-filter=U
    cam = commit --amend
    l = log --graph --pretty='[%G?] %C(yellow)%h (%cr)%Cblue %an%C(magenta)%d%Creset %s'
    me = !git l --author=Marin
    mf = merge --no-ff
    rh = reset --hard
    ra = rebase --abort
    ri = rebase -i
    rc = rebase --continue
    releases = !git branch -a | grep release
    rom = rebase origin/master
    s = status -sb
    sl = stash list
    ss = stash save
    sp = stash pop
    su = submodule update --recursive
    today = !git whathaveidone 1.day
    up = !git pull && git submodule update --init --recursive
    yolo = push -f origin master
    yoloed = !git fetch origin && git reset --hard origin/master
    week = !git whathaveidone 1.week
    whathaveidone = !git l --author=Marin --since
    wtc = !sh -c 'git commit $@ -m \""`curl -s http://whatthecommit.com/index.txt`"\"' -

[user]
    name = Marin Usalj
    email = marin2211@gmail.com

[github]
    user = supermarin

[core]
    excludesfile = ~/.gitignore_global
    quotepath = false
    trustctime = false

[color]
    branch = auto
    diff = auto
    status = auto

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[pager]
    diff = diff-highlight | less
    log  = diff-highlight | less
    show = diff-highlight | less

[interactive]
    diffFilter = diff-highlight

[diff]
    submodule = log
    indentHeuristic = true

[diff "plist"]
    textconv = plutil -convert xml1 -o -

[diff "png"]
    diff = exif

[diff "gpg"]
    textconv = gpg --no-tty --decrypt

[push]
    default = current

[pull]
    rebase = true

[commit]
    verbose = true
    gpgsign = true

[mergetool]
    keepBackup = false
    prompt = false

[mergetool "vim"]
    cmd = vim -c "normal\\ gg]c" -f \"$MERGED\"

[merge]
    tool = vim
    log = true
    stat = true

[ghi]
    token = !security find-internet-password -a supermarin -s github.com -l 'ghi token' -w

[i18n]
    commitencoding = utf8

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

[rerere]
    enabled = true

[rebase]
    autostash = true

[submodule]
    fetchJobs = 0
