!.gitignore

.DS_Store
.netrc
.ssh

# rtv token and history
.config/rtv

# alacritty (moved to nix)
.config/alacritty

# Gocode wtf
.config/gocode

# vim
*.swp
**/.netrwhist

.gnupg/*
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf

# apps putting secrets in .config
.config/hub
.config/gh
.config/stripe
.config/configstore

# fish (moved to nix)
.config/fish
