[alias]
  a = add .
  acm = !git add . && git commit -am
  b = branch
  bd = branch -d
  co = checkout
  conflicts = !git ls-files -u | cut -f 2 | sort -u
  cm = commit -m
  ca = commit -a
  ci = commit -am
  cam = commit --amend
  l = log --graph --pretty='%C(yellow)%h (%cr) %Cblue %an%C(magenta)%d%Creset %s'
  mf = merge --no-ff
  p = push
  pu = push -u
  riu = rebase -i @{u}
  s = status
  us = submodule update --recursive
  yolo = push -f origin master
[user]
  name = Marin Usalj
  email = mneorr@gmail.com
[github]
  user = mneorr
[core]
  excludesfile = /Users/mneorr/.gitignore_global
  quotepath = false
[color]
  branch = auto
  diff = auto
  status = auto
[push]
  default = simple
