!.gitignore

.DS_Store
.netrc

# vim
*.swp
**/.netrwhist

.gnupg/*
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf

# VMs
*.qcow2

# Cosmic
# This is state, not config. Changes every time you use cosmic-settings
cosmic/com.system76.CosmicSettings/v1/active-page
