* {
  font-family: Inter Display;
  font-size: 12px;
}

window#waybar {
  background-color: #041010;
  border-radius: 0;
  border: none;
  color: #eeffee;
  font-weight: 600;
  min-height: 0;
}

/* hyprland */
#workspaces {
  margin: 0 0.5em;
}

#workspaces button {
  all: initial;
  padding: 0 0.5em;
  color: #999999;
}

/* sway */
#workspaces button.visible {
  color: #ededed;
}

#workspaces button.focused {
  color: #ededed;
  font-weight: 600;
}
#workspaces button.urgent {
  color: pink;
}

#battery,
#bluetooth,
#cpu,
#custom-datetime,
#custom-notification,
#network,
#power-profiles-daemon,
#tray,
#tray-icon,
#wireplumber {
  min-width: 1em;
  margin: 0 0.5em;
}

#clock {
}

tooltip {
  padding: 0.25em;
}

tooltip label {
  padding: 0.25em;
}
